<!-- /templates/404.liquid -->
{% include 'customer-metafields' %}
<script>window.location.assign("https://puriumcorp.myshopify.com");</script>;
<div class="page-wrapper">
  <div class="page-404">
    <h4 class="error">Error: 404</h4>
    <h1>Oops! Something went wrong.</h1>
    <!-- <h4>Click <a href="/" class="text-link">here</a> to continue shopping</h4> -->
    <a class="btn btn--secondary" href="/collections/all">Get Shopping!</a>
  </div>
</div>
