<div class="styleguide-components">
  <div class="component-wrapper">
    <div class="component">
      <button class="btn btn--primary">CTA One</button>
      <xmp>
        <button class="btn btn--primary">CTA One</button>
      </xmp>
    </div>
    <div class="component">
      <button class="btn btn--secondary">CTA One</button>
      <xmp>
        <button class="btn btn--secondary">CTA One</button>
      </xmp>
    </div>
    <div class="component">
      <a class="text-link" href="#">Text Link</a>
      <xmp>
        <a class="text-link" href="#">Text Link</a>
      </xmp>
    </div>
    <div class="component">
      <div class="header desktop-header">
        <div class="header-top">
        </div>
        <div class="header-bottom">
          <div class="nav-section logo-container">
            <img class="logo-gradient" src="{{'Gradient.svg' | asset_url}}" />
          </div>
          <div class="nav-section nav-items-container">
            <a href="https://puriumcorp.myshopify.com/collections/all">Products</a>
            <a href="https://puriumcorp.myshopify.com/pages/lifestyle">Lifestyle</a>
            <a href="https://puriumcorp.myshopify.com/pages/opportunity">Opportunity</a>
            <a href="https://puriumcorp.myshopify.compages/blog">Blog</a>
          </div>
          <div class="nav-section account-container">
            <a href="https://puriumcorp.myshopify.com/account"><img src="{{'Account.svg' | asset_url}}" />Login</a>
          </div>
        </div>
      </div>
    </div>
    <xmp>
      <div class="component">
        <div class="header desktop-header">
          <div class="header-top">
          </div>
          <div class="header-bottom">
            <div class="nav-section logo-container">
              <img class="logo-gradient" src="{{'Gradient.svg' | asset_url}}" />
            </div>
            <div class="nav-section nav-items-container">
              <a href="https://puriumcorp.myshopify.com/collections/all">Products</a>
              <a href="https://puriumcorp.myshopify.com/pages/lifestyle">Lifestyle</a>
              <a href="https://puriumcorp.myshopify.com/pages/opportunity">Opportunity</a>
              <a href="https://puriumcorp.myshopify.compages/blog">Blog</a>
            </div>
            <div class="nav-section account-container">
              <a href="https://puriumcorp.myshopify.com/account"><img src="{{'Account.svg' | asset_url}}" />Login</a>
            </div>
          </div>
        </div>
      </div>
    </xmp>
    {% comment %}<div class="component">
      <h1 class="u-h1">H1 Heading</h1>
      <xmp>
        <h1 class="u-h1">H1 Heading</h1>
      </xmp>
    </div>
    <div class="component">
      <h1 class="u-h2">H2 Heading</h1>
      <xmp>
        <h1 class="u-h2">H2 Heading</h1>
      </xmp>
    </div>{% endcomment %}
  </div>
</div>
