{% render 'shogun-products', content: page %}
<!-- /templates/page.liquid -->
{% include 'customer-metafields' %}
<div class="page-wrappery">
   {% section 'lifestyle-transformation-section' %}
</div>

