{% schema %}

{
  "name": "header",
  "settings": [
    {
      "type": "text",
      "id": "trends_header",
      "label": "Enter a header text"
    }
  ]
}

{% endschema %}

<div class="jumbotron">
  <h2>{{ section.settings.trends_header }}</h2>
</div>
