<div class="modal modal--under-75" data-modal="under-75">
  <div class="modal__wrap">
    <h2 class="modal__head">Just to be sure...</h2>
    <p class="modal__desc">Whoa wait! You only need to add $<span class="js-money--under-75"></span> more to your cart to save $50 with your gift card.</p>
    <a class="btn modal__button btn--primary" href="/checkout?discount={{ customer.metafields.customers.Affiliate_ID }}">Check Out Anyway</a>
    <a class="btn modal__button btn--secondary" href="/collections/quick-shop">Keep Shopping</a>
  </div>
</div>