<script type="text/javascript">
 $(document).ready(function() {
  	var aValue = localStorage.getItem('attending');
    if(aValue != undefined){
     $('<section class="pdp-smart"><a class="pdp-smart__btn btn btn--secondary" href="/collections/convention-2018">Convention Collection</a></section>').insertAfter( '.pdp-info__submit-wrap' );
  	 }  
    });
</script>

