<div id="hideSeekModal" class="modal modal--under-75" data-modal="under-75">
  <div class="modal__wrap">
    <h2 class="modal__head"></h2>
    <p class="modal__desc"></p>
    <a class="btn modal__button btn--secondary" href="/pages/hideNseek">Try Again</a>
  </div>
</div>