<div class="info-tooltip" infotooltip>
  <button aria-label='Info Tooltop' infotooltip-toggle class="info-tooltip__icon">{{ 'Info.svg' | asset_url | img_tag }}</button>
  <div class="info-tooltip__tooltip" data-message="{{message}}" infotooltip-container>
    <div class="info-tooltip__tooltip__container">
      <div class="info-tooltip__tooltip__wrapper" infotooltip-tip>
        <div class="close-btn" infotooltip-close>{% include 'icon-svg' with 'close' %}</div>
        <div>{{message}}</div>
        {%- unless customer -%}
        <a href="/account" class="btn btn--primary">Sign Up</a>
        {%- endunless -%}
      </div>
    </div>
  </div>
</div>