.rte {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.5em;
    font-weight: 700;
  }

  p {
    margin-bottom: 15px;
  }

  ul,
  ol {
    list-style: disc outside;
    margin-left: 20px;
    margin-bottom: 15px;
    padding: 0;
  }

  a {
    text-decoration: underline;
  }
}
